.poke-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6d743;
    border: 1px solid #120136;
    border-radius: 5px;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transorm 0.25s ease-out;
    width: 45%;
    margin: 10px;
    flex-grow: 1;
}

.poke-card:hover{
    transform: scale(1.05)
}